/* #region ESTILOS GENERALES */

/* RESETEO DE ESTILOS */
* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
} 

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

/* #region ESTILOS GENERALES */
.grid-container-generic {    
    display: grid;
    grid-template-columns: 100vw; 
    grid-template-rows: 20vh 100vh 20vh;
    grid-template-areas: 
    "header"
    "section-contenido"
    "footer"
    ;
    /* grid-column-gap: 15px; */
    grid-row-gap: 15px;
    width: 100%;
    height: 100%;

    background-color: rgb(46, 46, 46);
}

.header {
    grid-area: header;
    background-color: black;
}

.logo {
    width: 8vw;
    transition: all 2s;
}

.logo:hover {
    transform: scale(1.2, 1.2);
}

.section-contenido {
    grid-area: section-contenido;
    
    background-color: rgb(31, 194, 44);
    color: floralwhite;
    font-weight: bold;
    color: floralwhite;
    padding: 10% 5%;
    text-align: center;
}

.header a, .footer a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(56, 240, 169);
    transition: all 1s;    
}

/* .header a:hover, .footer a:hover {
    font-size: 1.2rem;  
} */

.header a:hover, .footer a:hover {
    color: rgb(99, 76, 184);
    font-size: 1.2rem;  

}


.header ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;  
    justify-content: space-evenly; 
}

.footer ul {
    width: 100%;
    height: 50%;
    list-style-type: none;
    display: flex;
    align-items: flex-end;  
    justify-content: space-evenly; 
}

.header ul li, .footer ul li {
    font-size: 1rem;
    /* font-size: 3vw; OPCION ULTRA RESPONSIVE (CONSULTAR)*/
}


.footer {
    grid-area: footer;
    background-color: cornflowerblue;
    color: floralwhite;
}

h1 {
    text-align: center;
    margin-bottom: 3rem; 
    font-size: 1.8rem;
}

p {
    font-size: 1rem;
} 

.social-media {
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;    
    /* padding: 15px; */
}

.social-media i {
    margin: 20px;
}


/* section, header, footer {
    border-radius: 20px;
} */

/* .zombieFooter {
    width: 23%;
    position: fixed;
    bottom: 0;
    right: 0;
} */

/* 
.imagenPortada {
    border: 1px solid salmon;
    height: 300px;
    width: 100%;
    text-align: center;
    margin: 40px 0;
} */

/* #endregion ESTILOS GENERALES */


/* #region PAGINA HOME */
/* Item Padre */
.grid-container {    
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: 20vh 25vh 25vh 110vh 20vh;
    grid-template-areas: 
    "header"
    "section-portada"
    "section-galeria"
    "section-contenido"
    "footer"
    ;

    /* grid-column-gap: 15px; */
    grid-row-gap: 15px;
    width: 100%;
    height: 100%;

    background-color: rgb(46, 46, 46);
}

/* Items Hijos */
.section-portada {
    grid-area: section-portada;
    background-color: #d32e7a;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}


.section-galeria {
    grid-area: section-galeria;
    background-color: rgb(61, 181, 236);
    color: floralwhite;
    font-weight: bold;
    color: floralwhite;

    /* Centrado horizontal y vertical de elementos */
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 2s;
}

.section-galeria:hover {
    color: rgb(163, 54, 185);
}


.zombie-animacion {
    width: 20vh;
    height: 20vh;
    position: absolute;
    bottom: 0;

    animation-name: zombieCaminando;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 12s;
    animation-delay: 0;
}

@keyframes zombieCaminando {
    0% {
        left: -10vw;
    }
    100% {
        left: 100vw;
        display: none;
    }
}

/* #endregion PAGINA HOME */


/* #region PAGINA ROADMAP */

table {
    border-collapse:collapse;
    border: 5px solid rgb(255, 0, 128);
    border-radius: 15px;
    font-size: 0.5rem;
    margin-bottom: 30px;
    /* background-color: blueviolet; */
}

caption {
    margin: 20px;
    font-size: 1.5rem;
}

th, td {
    border: 5px solid rgb(255, 0, 128);
    padding: 1rem;
    text-align: justify;
}

th {
    font-size: 1.2rem;
    font-weight: bold;
}

table ul {
    padding-left: 30px;
}

/* #endregion PAGINA ROADMAP */



/* #region PAGINA CONTACT */
.contactBox {
    width: 90%;
    background-color: blueviolet;
    border-radius: 30px;
    border: 8px solid rgb(238, 0, 147);

    display: flex;
    justify-items: flex-start;
    margin: auto;
}

input, textarea, select {
    padding: 10px;
    border-radius: 8px;
    color: black;
    font-size: 0.8rem;
}

.check-news {
    transform: scale(2.2);
}
 
textarea {
    margin: 10px;
    display: block;
    width: 100%;
    resize: none;
}

label {
    display: inline;
    margin-right: 20px;
}

fieldset {
    width: 100%;
    border-style: none;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    margin: 30px;
}

.contactButton {
    border-radius: 8px;
    background-color: rgb(22, 131, 255);
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    font-weight: bold;
    padding: 15px 35px;
    margin-right: 40px;
}

.botones-form {
    display: flex;
    justify-content: flex-end;
}

/* #endregion PAGINA CONTACT */

/* #region MEDIA QUERIES */

/* Tablets */
@media (min-width: 768px) {
    html {
        font-size: 18px;
    }

    /* .grid-container {    
        grid-template-rows: 20vh 25vh 25vh 80vh 20vh;
    } */
  
}

/* Desktop */
@media (min-width: 1024px) {
    html {
        font-size: 22px;
    }

    .grid-container-generic {    
        grid-template-columns: 12vw 76vw 12vw;
        grid-template-rows: 20vh 130vh 20vh;
        grid-template-areas: 
        ". header ."
        ". section-contenido ."
        ". footer ."
        ;
    }

    .grid-container {    
        grid-template-columns: 12vw 76vw 12vw;
        grid-template-rows: 20vh 25vh 25vh 80vh 20vh;
        grid-template-areas: 
        ". header ."
        ". section-portada ."
        ". section-galeria ."
        ". section-contenido ."
        ". footer ."
        ;
    }
}

/* @media (min-width: 1440px) {
   

} */

/* Agregado porque al llegar a esta medida se veia con las fuentes de mobile (CONSUTAR) */
@media (min-width: 2000px) {
    html {
        font-size: 34px;
    }

    .grid-container-generic {    
        grid-template-columns: 12vw 76vw 12vw;
        grid-template-rows: 34vh 170vh 34vh;
        grid-template-areas: 
        ". header ."
        ". section-contenido ."
        ". footer ."
        ;
    }

    .grid-container {    
        grid-template-columns: 12vw 76vw 12vw;
        grid-template-rows: 34vh 34vh 34vh 100vh 34vh;
        grid-template-areas: 
        ". header ."
        ". section-portada ."
        ". section-galeria ."
        ". section-contenido ."
        ". footer ."
        ;
    }

    .zombie-animacion {
        width: 28vh;
        height: 28vh;
    }

}

/* #endregion MEDIA QUERIES */
