/* RESETEO DE ESTILOS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px; }

h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.8rem; }

p {
  font-size: 1rem; }

.grid-container-generic {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 20vh 100vh 20vh;
  grid-template-areas: "header" "section-contenido" "footer";
  grid-row-gap: 15px;
  width: 100%;
  height: 100%;
  background-color: #2e2e2e; }

.section-contenido {
  grid-area: section-contenido;
  background-color: #1fc22c;
  color: floralwhite;
  font-weight: bold;
  padding: 10% 5%;
  text-align: center;
  border-radius: 25px;
  border: 5px solid #8bbef3;
  /* Animacion de Neon */ }
  .section-contenido h1 {
    color: #c6e2ff;
    /* Animacion de Neon */
    animation-name: neon-text;
    animation-duration: 0.08s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

@keyframes neon-text {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92); }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92); } }

@keyframes neon {
  from {
    box-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92); }
  to {
    box-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2; } }

.social-media {
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center; }
  .social-media a {
    margin: 20px;
    text-decoration: none;
    text-decoration-style: none;
    color: #f04bab; }

.zombieFooter {
  width: 21vw;
  height: 21vw;
  position: fixed;
  bottom: 85px;
  right: 0;
  transform: rotate(-90deg); }

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20vh 20vh auto 60vh 20vh;
  grid-template-areas: "header" "section-portada" "section-galeria" "section-contenido" "footer";
  /* grid-column-gap: 15px; */
  grid-row-gap: 15px;
  width: 100%;
  height: 100%;
  background-color: #2e2e2e; }

/* Items Hijos */
.section-portada {
  grid-area: section-portada;
  background-color: #d32e7a;
  font-weight: bold;
  position: relative;
  overflow: hidden; }

.section-galeria {
  grid-area: section-galeria;
  background-color: #3db5ec;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .section-galeria img {
    border-radius: 20px;
    border: 4px solid blueviolet;
    width: 16vh;
    margin: 20px;
    transition: all 1s; }
    .section-galeria img:hover {
      transform: scale(1.2, 1.2); }

.zombie-animacion {
  width: 20vh;
  height: 20vh;
  position: absolute;
  bottom: 0;
  animation-name: zombieCaminando;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 12s;
  animation-delay: 0; }

@keyframes zombieCaminando {
  0% {
    left: -10vw; }
  100% {
    left: 100vw;
    display: none; } }

.header {
  grid-area: header;
  background-color: black; }
  .header ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  .header a {
    font-size: 1rem;
    /* font-size: 3vw; OPCION ULTRA RESPONSIVE (CONSULTAR)*/
    text-decoration: none;
    font-weight: bold;
    color: #38f0a9;
    transition: all 1s; }
    .header a:hover {
      color: #634cb8;
      font-size: 1.2rem; }

.logo {
  width: 8vw;
  transition: all 2s; }
  .logo:hover {
    transform: scale(1.2, 1.2); }

.footer {
  grid-area: footer;
  background-color: cornflowerblue;
  color: floralwhite; }
  .footer ul {
    width: 100%;
    height: 50%;
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly; }
    .footer ul a {
      font-size: 1rem;
      /* font-size: 3vw; OPCION ULTRA RESPONSIVE (CONSULTAR)*/
      text-decoration: none;
      font-weight: bold;
      color: #38f0a9;
      transition: all 1s; }
      .footer ul a:hover {
        color: #634cb8;
        font-size: 1.2rem; }

.contactBox {
  width: 90%;
  background-color: blueviolet;
  border-radius: 30px;
  border: 8px solid #ee0093;
  /* Alineado horizontal */
  margin: auto; }

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  padding: 15px; }

fieldset {
  width: 100%;
  border-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5px auto; }

input, textarea, select {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-size: 0.8rem; }

.check-news {
  transform: scale(2.2);
  width: auto;
  height: auto;
  padding: 0;
  margin: 10px; }

textarea {
  resize: none;
  columns: 4;
  height: 120px; }

label {
  display: inline;
  margin-bottom: 10px; }

.contactButton {
  border-radius: 8px;
  background-color: #1683ff;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 15px 35px;
  margin-bottom: 15px; }

.botones-form {
  display: flex;
  flex-direction: column;
  gap: 15px; }

table {
  border-collapse: separate;
  border: 8px solid #ff0080;
  border-radius: 25px;
  font-size: 0.5rem;
  margin-bottom: 30px; }
  table ul {
    padding-left: 30px; }

caption {
  margin: 20px;
  font-size: 1.5rem; }

th, td {
  border-left: 8px solid #ff0080;
  border-top: 8px solid #ff0080;
  padding: 1rem;
  text-align: justify; }
  th:first-child, td:first-child {
    border-left: none; }

th {
  border-top: none;
  font-size: 1.2rem;
  font-weight: bold;
  width: 50vw; }

/* Tablets */
@media (min-width: 768px) {
  html {
    font-size: 18px; }
  .grid-container-generic {
    grid-template-columns: 12vw 76vw 12vw;
    grid-template-rows: 20vh 120vh 20vh;
    grid-template-areas: ". header ." ". section-contenido ." ". footer ."; }
  .grid-container {
    grid-template-rows: 20vh 20vh auto 80vh 20vh; }
  .news {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-content: center;
    justify-content: center; }
  .news label {
    margin: 0; } }

/* Desktop */
@media (min-width: 1024px) {
  html {
    font-size: 22px; }
  .grid-container-generic {
    grid-template-columns: 12vw 76vw 12vw;
    grid-template-rows: 20vh 130vh 20vh;
    grid-template-areas: ". header ." ". section-contenido ." ". footer ."; }
  .grid-container {
    grid-template-columns: 12vw 76vw 12vw;
    grid-template-rows: 20vh 20vh auto 80vh 20vh;
    grid-template-areas: ". header ." ". section-portada ." ". section-galeria ." ". section-contenido ." ". footer ."; }
  form {
    padding: 30px; }
  fieldset {
    justify-content: flex-start;
    align-items: flex-start; }
  .botones-form {
    display: flex;
    flex-direction: row; }
  .news {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-content: center;
    justify-content: flex-start; }
  .section-galeria img {
    width: 20vh;
    margin: 25px; } }

/* @media (min-width: 1440px) {

} */
/* Agregado porque al llegar a esta medida se veia con las fuentes de mobile (CONSUTAR) */
@media (min-width: 2000px) {
  html {
    font-size: 38px; }
  .grid-container-generic {
    grid-template-columns: 12vw 76vw 12vw;
    grid-template-rows: 30vh 120vh 30vh;
    grid-template-areas: ". header ." ". section-contenido ." ". footer ."; }
  .grid-container {
    grid-template-columns: 12vw 76vw 12vw;
    grid-template-rows: 34vh 34vh auto 100vh 34vh;
    grid-template-areas: ". header ." ". section-portada ." ". section-galeria ." ". section-contenido ." ". footer ."; }
  .zombie-animacion {
    width: 28vh;
    height: 28vh; }
  .section-galeria img {
    width: 25vh;
    margin: 30px; } }

section, header, footer {
  border-radius: 20px; }

/* #endregion ESTILOS GENERALES */
/* section, body {
    background-color: black !important;
} */
