/* RESETEO DE ESTILOS */
* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
} 

//PRIMERO VAN LAS VARIABLES 
@import './variables/tamanios';

//SECCIONES

@import './secciones/shared';
@import './secciones/index';
@import './secciones/header-footer';
@import './secciones/contact';
@import './secciones/roadmap';
@import './secciones/media-queries';


/* section, header, footer {
    border-radius: 20px;
} */


/* #endregion ESTILOS GENERALES */

/* section, body {
    background-color: black !important;
} */