/* RESETEO DE ESTILOS */
* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
} 

//PRIMERO VAN LAS VARIABLES 
@import './variables/tamanios';

//SECCIONES

@import './secciones/shared';
@import './secciones/index';
@import './secciones/header-footer';
@import './secciones/contact';
@import './secciones/roadmap';
@import './secciones/faq';
@import './secciones/media-queries';

