<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <!-- Iconos FontAwesome -->
    <script src="https://kit.fontawesome.com/2dfada6a03.js" crossorigin="anonymous"></script>
    <title>CryptoZombiess</title>
</head>
<body>
    <div class="grid-container-generic">
        <header class="header">
            <ul>
                <li><a href="../index.html"><img src="../images/android-chrome-192x192.png" alt="CryptoZombiess logo" class="logo"></a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./rarity.html">Rarity</a></li>
                <li><a href="./utility.html">Utility</a></li>
                <li><a href="./roadmap.html">Roadmap</a></li>
                <li><a href="./faq.html">FAQ</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </header>
    
        <section class="section-contenido">
            <h1>Contact</h1>

            <div class="contactBox"> 
                <form action="" method="get">
                    <fieldset>
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name">
                    </fieldset>

                    <fieldset>
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email">
                    </fieldset>

                    <fieldset class="news">
                        <label for="message">Do you want to receive Zombie news?:</label>
                        <input class="check-news" type="checkbox" name="news" id="news" value="1">
                    </fieldset>
                    
                    <fieldset>
                        <label for="option">What is much important to you?:</label>
                        <select name="info" id="info">
                            <option value="">To have Zombiess Merchandising</option>
                            <option value="">More Zombiess special editions</option>
                            <option value="">Colaborations with another collections</option>
                            <option value="">Participate for NFT's gifts</option>
                        </select>
                    </fieldset>

                    <fieldset>
                        <label for="message">Message:</label>
                        <textarea name="message" id="message" cols="60" rows="10"></textarea>
                    </fieldset>
    
                    <fieldset class="botones-form">
                        <!-- <input class="button" type="submit" value="Send"> -->
                        <button type="submit" class="contactButton">Send form</button>
                        <button type="reset" class="contactButton">Reset form</button>
                    </fieldset>
                </form>
            </div>
            
        </section>

       <footer class="footer">
            <!-- <img src="../images/ZombieFooter2.png" alt="Zombie smiling" class="zombieFooter"> -->
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./rarity.html">Rarity</a></li>
                <li><a href="./utility.html">Utility</a></li>
                <li><a href="./roadmap.html">Roadmap</a></li>
                <li><a href="./faq.html">FAQ</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
            <div class="social-media">
                <i class="fab fa-twitter-square fa-lg"></i>
                <i class="fab fa-instagram fa-lg"></i>
            </div>
        </footer>

    </div>    
</body>
</html>