<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <!-- Iconos FontAwesome -->
    <script src="https://kit.fontawesome.com/2dfada6a03.js" crossorigin="anonymous"></script>
    <title>CryptoZombiess</title>
</head>
<body>
    <div class="grid-container-generic">
        <header class="header">
            <ul>
                <li><a href="../index.html"><img src="../images/android-chrome-192x192.png" alt="CryptoZombiess logo" class="logo"></a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./rarity.html">Rarity</a></li>
                <li><a href="./utility.html">Utility</a></li>
                <li><a href="./roadmap.html">Roadmap</a></li>
                <li><a href="./faq.html">FAQ</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </header>
    
        <section class="section-contenido">
            <h1>Roadmap</h1>
            <table>
                <caption>Events diagram</caption>
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Date</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lorem ipsum dolor sit.</td>
                        <td>31/12/2021</td>
                        <td>
                            <ol>
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem, ipsum dolor.</td>
                        <td>30/02/2021</td>
                        <td>
                            <ol>
                                <li>Lorem, ipsum.</li>
                                <li>Lorem, ipsum.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>
                                    Lorem, ipsum.
                                    <ul>
                                        <li>Lorem, ipsum.</li>
                                        <li>Lorem, ipsum.</li>
                                        <li>Lorem, ipsum.</li>
                                    </ul>
                                </li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum.</li>
                                <li>Lorem, ipsum dolor.</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem, ipsum.</td>
                        <td>31/12/2021</td>
                        <td>
                            <ol>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem, ipsum.</td>
                        <td>31/12/2021</td>
                        <td>
                            <ol>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit amet consectetur.</td>
                        <td>31/12/2021</td>
                        <td>
                            <ol>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

       <footer class="footer">
        <!-- <img src="../images/ZombieFooter2.png" alt="Zombie smiling" class="zombieFooter"> -->

            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./rarity.html">Rarity</a></li>
                <li><a href="./utility.html">Utility</a></li>
                <li><a href="./roadmap.html">Roadmap</a></li>
                <li><a href="./faq.html">FAQ</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
            <div class="social-media">
                <i class="fab fa-twitter-square fa-lg"></i>
                <i class="fab fa-instagram fa-lg"></i>
            </div>
        </footer>
    </div>    
</body>
</html>