<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <!-- Iconos FontAwesome -->
    <script src="https://kit.fontawesome.com/2dfada6a03.js" crossorigin="anonymous"></script>
    <!-- SEO -->
    <title>Roadmap | CryptoZombiess</title>
    <meta name="description" content="See the roadmap behind the CryptoZombiess project.">
	<meta name="keywords"  content="NFT, ETH, Ethereum, BTC, Bitcoin, Crypto, CryptoArt">
</head>
<body>
    <div class="grid-container-generic">
        <header class="header">
            <ul>
                <li><a href="../index.html"><img src="../images/android-chrome-192x192.png" alt="CryptoZombiess logo" class="logo"></a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./rarity.html">Rarity</a></li>
                <li><a href="./utility.html">Utility</a></li>
                <li><a href="./roadmap.html">Roadmap</a></li>
                <li><a href="./faq.html">FAQ</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </header>
    
        <section class="section-contenido">
            <h1 class="roadmap-h1">Roadmap</h1>
            <table>
                <caption>Events diagram</caption>
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Date</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Begining the proyect.</td>
                        <td>2022 February</td>
                        <td>
                            <ol>
                                <li>Web page.</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>2022 March</td>
                        <td>
                            <ol>
                                <li>We launch social networks.</li>
                                <li>CryptoZombiess Discord Community.</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>Special Editions</td>
                        <td>2022 May</td>
                        <td>
                            <ol>
                                <li>New zombies each week.</li>
                                <li>New special editions each week.</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>Game project.</td>
                        <td>2022 October</td>
                        <td>
                            <ol>
                                <li>Begining of the cryptozombiess game development.</li>
                                <li>Design of ilustration's game.</li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

       <footer class="footer">
        <img src="../images/ZombieFooter2.png" alt="Zombie smiling" class="zombieFooter">

            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./rarity.html">Rarity</a></li>
                <li><a href="./utility.html">Utility</a></li>
                <li><a href="./roadmap.html">Roadmap</a></li>
                <li><a href="./faq.html">FAQ</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
            <div class="social-media">
                <a class="fab fa-twitter-square fa-lg" href="https://twitter.com/CryptoZombiess?t=4fhJKkubKkXpZdlH1BqNXw&s=08"></a>
                <a class="fab fa-instagram fa-lg" href="https://www.instagram.com/cryptozombiess/?hl=es-la"></a>
            </div>
        </footer>
    </div>    
</body>
</html>