<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <!-- Iconos FontAwesome -->
    <script src="https://kit.fontawesome.com/2dfada6a03.js" crossorigin="anonymous"></script>
    <!-- SEO -->
    <title>Utility | CryptoZombiess</title>
    <meta name="description" content="Here you discover the utility for each piece in the CryptoZombiess project.">
	<meta name="keywords"  content="NFT, ETH, Ethereum, BTC, Bitcoin, Crypto, CryptoArt">
</head>
<body>
    <div class="grid-container-generic">
        <header class="header">
            <ul>
                <li><a href="../index.html"><img src="../images/android-chrome-192x192.png" alt="CryptoZombiess logo" class="logo"></a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./rarity.html">Rarity</a></li>
                <li><a href="./utility.html">Utility</a></li>
                <li><a href="./roadmap.html">Roadmap</a></li>
                <li><a href="./faq.html">FAQ</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </header>
    
        <section class="section-contenido">
            <h1>Utility</h1>
            <p>
                All members of the CryptoZombies Of Metaverse community will have access to weekly live training for 3 years. These formations will be recorded and compiled on an exclusive platform for S.O.M. Headlines
                Anyone who owns an NFT from the collection will have lifetime access to the entire gallery of information collected over the years with different content such as videos, documentation, tools, and more. Additionally, trainings provided to the community related to topics such as cryptocurrencies, NFTs, businesses and more will be available.
                All members will be able to participate in all the challenges that are proposed, so they will have the possibility of obtaining one of the 36 CryptoZombieMate Specials. For each challenge there will be a winner who will get one of the 9 CryptoZombieMate Gold from the collection.</p>
        </section>
        
        <footer class="footer">
        <img src="../images/ZombieFooter2.png" alt="Zombie smiling" class="zombieFooter">

            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./rarity.html">Rarity</a></li>
                <li><a href="./utility.html">Utility</a></li>
                <li><a href="./roadmap.html">Roadmap</a></li>
                <li><a href="./faq.html">FAQ</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
            <div class="social-media">
                <a class="fab fa-twitter-square fa-lg" href="https://twitter.com/CryptoZombiess?t=4fhJKkubKkXpZdlH1BqNXw&s=08"></a>
                <a class="fab fa-instagram fa-lg" href="https://www.instagram.com/cryptozombiess/?hl=es-la"></a>
            </div>
        </footer>
    </div>    
</body>
</html>