.grid-container {    
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: 20vh 20vh auto 60vh 20vh;
    grid-template-areas: 
    "header"
    "section-portada"
    "section-galeria"
    "section-contenido"
    "footer"
    ;

    /* grid-column-gap: 15px; */
    grid-row-gap: 15px;
    width: 100%;
    height: 100%;

    background-color: rgb(46, 46, 46);
}

/* Items Hijos */
.section-portada {
    grid-area: section-portada;
    background-color: #d32e7a;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}


.section-galeria {
    grid-area: section-galeria;
    background-color: rgb(61, 181, 236);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    img {
        border-radius: 20px;
        border: 4px solid blueviolet;
        width: 16vh;
        margin: 20px;
        transition: all 1s;    


        &:hover {
            transform: scale(1.2, 1.2);
        }

    }

}

.zombie-animacion {
    width: 20vh;
    height: 20vh;
    position: absolute;
    bottom: 0;

    animation-name: zombieCaminando;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 12s;
    animation-delay: 0;
}

@keyframes zombieCaminando {
    0% {
        left: -10vw;
    }
    100% {
        left: 100vw;
        display: none;
    }
}





  
  
  
  