/* Tablets */
@media (min-width: 768px) {
    html {
        font-size: 18px;
    }

      .grid-container-generic {    
        grid-template-columns: 12vw 76vw 12vw;
        grid-template-rows: 20vh 120vh 20vh;
        grid-template-areas: 
        ". header ."
        ". section-contenido ."
        ". footer ."
        ;
    }

    .grid-container {    
        grid-template-rows: 20vh 20vh auto 80vh 20vh;
    }
  
    .news {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        align-content: center;
        justify-content: center;
    }

    .news label {
        margin: 0;
    }
   
}

/* Desktop */
@media (min-width: 1024px) {
    html {
        font-size: 22px;
    }

    .grid-container-generic {    
        grid-template-columns: 12vw 76vw 12vw;
        grid-template-rows: 20vh 130vh 20vh;
        grid-template-areas: 
        ". header ."
        ". section-contenido ."
        ". footer ."
        ;
    }

    .grid-container {    
        grid-template-columns: 12vw 76vw 12vw;
        grid-template-rows: 20vh 20vh auto 80vh 20vh;
        grid-template-areas: 
        ". header ."
        ". section-portada ."
        ". section-galeria ."
        ". section-contenido ."
        ". footer ."
        ;
    }

    form {
        padding: 30px;
    }

    fieldset {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .botones-form {
        display: flex;
        flex-direction: row;
    }

    .news {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        align-content: center;
        justify-content: flex-start;
    }

    .section-galeria {

        img {
            width: 20vh;
            margin: 25px;
        }
    }
}

/* @media (min-width: 1440px) {

} */

/* Agregado porque al llegar a esta medida se veia con las fuentes de mobile (CONSUTAR) */
@media (min-width: 2000px) {
    html {
        font-size: 38px;
    }

    .grid-container-generic {    
        grid-template-columns: 12vw 76vw 12vw;
        grid-template-rows: 30vh 120vh 30vh;
        grid-template-areas: 
        ". header ."
        ". section-contenido ."
        ". footer ."
        ;
    }

    .grid-container {    
        grid-template-columns: 12vw 76vw 12vw;
        grid-template-rows: 34vh 34vh auto 100vh 34vh;
        grid-template-areas: 
        ". header ."
        ". section-portada ."
        ". section-galeria ."
        ". section-contenido ."
        ". footer ."
        ;
    }

    .zombie-animacion {
        width: 28vh;
        height: 28vh;
    }
    
    .section-galeria {

        img {
            width: 25vh;
            margin: 30px;
        }
    }

}
