
table {
    border-collapse: separate;
    border: 8px solid rgb(255, 0, 128);
    border-radius: 25px;
    font-size: 0.5rem;
    margin-bottom: 30px;

    ul {
        padding-left: 30px;
    }
}

caption {
    margin: 20px;
    font-size: 1.5rem;
}

th, td {
    border-left: 8px solid rgb(255, 0, 128);
    border-top: 8px solid rgb(255, 0, 128);
    padding: 1rem;
    text-align: justify;

    &:first-child{
        border-left: none;
    }
}

th {
    border-top: none;
    font-size: 1.2rem;
    font-weight: bold;
    width: 50vw;
}
