html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: $font-size-default;
}

h1 {
    text-align: center;
    margin-bottom: 3rem; 
    font-size: 1.8rem;
}

p {
    font-size: 1rem;
} 

.grid-container-generic {    
    display: grid;
    grid-template-columns: 100vw; 
    grid-template-rows: 20vh 100vh 20vh;
    grid-template-areas: 
    "header"
    "section-contenido"
    "footer"
    ;
    /* grid-column-gap: 15px; */
    grid-row-gap: 15px;
    width: 100%;
    height: 100%;

    background-color: rgb(46, 46, 46);
}


.section-contenido {
    grid-area: section-contenido;
    
    background-color: rgb(31, 194, 44);
    color: floralwhite;
    font-weight: bold;
    padding: 10% 5%;
    text-align: center;

    border-radius: 25px;
    border: 5px solid #8bbef3;
    
    /* Animacion de Neon */
    animation-name: neon;
    animation-duration: 0.08s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate

    h1 {
        color: #c6e2ff;

        /* Animacion de Neon */
        animation-name: neon-text;
        animation-duration: 0.08s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

@keyframes neon-text{
    from {
        text-shadow:
        0 0 6px rgba(202,228,225,0.92),
        0 0 30px rgba(202,228,225,0.34),
        0 0 12px rgba(30,132,242,0.52),
        0 0 21px rgba(30,132,242,0.92),
        0 0 34px rgba(30,132,242,0.78),
        0 0 54px rgba(30,132,242,0.92);
    }
    to {
        text-shadow:
        0 0 6px rgba(202,228,225,0.92),
        0 0 30px rgba(202,228,225,0.34),
        0 0 12px rgba(30,132,242,0.52),
        0 0 21px rgba(30,132,242,0.92),
        0 0 34px rgba(30,132,242,0.78),
        0 0 54px rgba(30,132,242,0.92);
    }
}

@keyframes neon {
    from {
        box-shadow:
        0 0 6px rgba(202,228,225,0.92),
        0 0 30px rgba(202,228,225,0.34),
        0 0 12px rgba(30,132,242,0.52),
        0 0 21px rgba(30,132,242,0.92),
        0 0 34px rgba(30,132,242,0.78),
        0 0 54px rgba(30,132,242,0.92);
    }
    to {
        box-shadow:
        0 0 6px rgba(202,228,225,0.98),
        0 0 30px rgba(202,228,225,0.42),
        0 0 12px rgba(30,132,242,0.58),
        0 0 22px rgba(30,132,242,0.84),
        0 0 38px rgba(30,132,242,0.88),
        0 0 60px rgba(30,132,242,1);
    }
}

.social-media {
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;    
    /* padding: 15px; */

    i {
        margin: 20px;
    }
}
